* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.background{
 background-image: url(./img/background.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
}

.h1-title{
  color: white;
}

.blackground{
  background-color: black;
}
.wit{
  color: white;
}

footer{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin: 0;
  text-align: left;
  background: #00a8c7;
  color: white;
}
h1{
  font-weight: bold;
}
html{
  font-family: "Goldman";
}

