.titles{
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

h2{
    color:  #0000ff;
    font-weight: bold;
    font-size: 20px
    
    
}

h3{
    color: teal;
    font-weight: bold;
font-size: 16px

}


p{
    font-weight: bold;
    color: #4D4D4D;
}

a{
color: #8A2BE2;
text-decoration: none;
}

.Paragraphs{
    color: white;
}

header{
    width: 100%;
    min-height: 35vh;
    background-color: blanchedalmond;
    background-image: url(./realistic-hexagonal-background_79603-1646.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: lightpink;
}

article{
    border: 3px solid black;
    border-radius: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-left-width: thick;
}

img{
    width: 50vw;
}